body {
    background-color: #343a40;
}

.scrollable {
    max-height: 60vh;
    overflow-y: auto;
  }

.scrollable table thead th { 
    position: sticky; 
    top: 0;
    background-color: #56afbd; }

.engineInfoTable {
  font-size:14px;
}

.engAttrKey {
  font-weight: bold;
  background-color: #56afbd;
}

.engineSummaryRows, .siteSummaryRows, .dashboardPendingRows, .logSummaryRows {
  cursor: pointer;
}

.dashboardSummaryRows, .dashboardEngineRows  {
  font-size: 18px;
  font-weight: bold;
}

.dashboardTables {
  font-size:14px;
}

.dashboardTables thead{
  background-color: #56afbd;
}

#siteInfoDiv thead{
  background-color: #56afbd;
}


#log-detail-head {
  background-color: #56afbd;
}

.accountAttrKey {
  font-weight: bold;
  background-color: #56afbd;
}

@media (max-width: 400px) {
  .dashboardTables {
    font-size:10px;
  }
  .accountInfoTable tr {
    font-size:10px;
  }

  #pendingTables {
    font-size:8px
  }

}